*,
*::before,
*::after
    box-sizing: inherit

html
    -webkit-box-sizing: border-box
    box-sizing: border-box
    scroll-behavior: smooth

body
    min-width: 1200px

    font-size: 16px
    line-height: 1.875
    font-family: "Arial"
    color: rgb(68, 68, 68)

    scroll-behavior: smooth

img
    display: block
    max-width: 100%
    height: auto

a
    color: #834700
    &:hover
        color: #6a3900
    &:active
        color: rgba(106, 57, 0, 0.5)

label
    font-weight: bold
    line-height: 1.25
    color: rgb(0, 0, 0)
    text-transform: uppercase

input,
select,
textarea
    min-height: 51px
    padding: 12px 20px

    font-weight: bold
    text-transform: uppercase

    background-color: rgba(0, 0, 0, 0.1)
    border: none

    &:hover
        background-color: rgba(0, 0, 0, 0.2)
    &:active,
    &:focus
        background-color: #fff

select
    appearance: none
    padding: 17px 20px
    background-image: url(../img/dropdown-icon.png)
    background-repeat: no-repeat
    background-position: right 11px center

.custom-checkbox
    display: inline-block
    width: 36px
    height: 36px
    background-color: rgba(0, 0, 0, 0.1)
    cursor: pointer
    &:hover
        background-color: rgba(0, 0, 0, 0.2)

input.visually-hidden:checked ~ .custom-checkbox
    background-image: url(../img/check.png)
    background-repeat: no-repeat
    background-position: center

input.visually-hidden:focus ~ .custom-checkbox
    box-shadow: 0 0 0 2px #6a3900

.container
    width: 800px
    margin-right: auto
    margin-left: auto

.container--wide
    width: 1015px

.title
    font-weight: bold
    text-transform: uppercase
    color: rgb(0, 0, 0)
    line-height: 1.5
    font-size: 40px

.button
    display: inline-block
    line-height: 1.25

    font-weight: bold
    text-transform: uppercase

    text-decoration: none
    padding: 11px 20px 15px

    &--primary
        color: rgb(255, 255, 255)
        background-color: #834700
        border: 2px solid #834700
        &:hover
            color: rgb(255, 255, 255)
            background-color: #6a3900
            border: 2px solid #6a3900
        &:active,
        &:focus
            color: rgba(255, 255, 255, 0.5)

    &--ghost
        color: #834700
        border: 2px solid #6a3900
        background-color: transparent
        &:hover
            background-color: transparent
            color: #6a3900
            border: 2px solid #6a3900
        &:active,
        &:focus
            opacity: 0.5
    &--ghost-grey
        color: #bcb6ab
        border: 2px solid #a6a097
        background-color: transparent
        &:hover
            background-color: #a5a097
            color: #fff
        &:active,
        &:focus
            color: rgba(255, 255, 255, 0.5)
            background-color: #8f8a81

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden
    position: absolute
    width: 1px
    height: 1px
    margin: -1px
    border: 0
    padding: 0

    white-space: nowrap

    clip-path: inset(100%)
    clip: rect(0 0 0 0)
    overflow: hidden

@import includes/header
@import includes/new-items
@import includes/advantages
@import includes/history
@import includes/review
@import includes/assortment
@import includes/order
@import includes/footer
