.advantages
    padding: 79px 0 75px

    background-color: #ffcb78

    &__list
        display: grid
        margin: 0
        padding: 0

        list-style: none

        grid-template-columns: 306px 400px 1fr

        & li:nth-child(2)
            display: flex
            justify-content: center
        & li:last-child
            display: flex
            justify-content: flex-end
        & li:not(:last-child)
            border-right: 1px solid #e5b66c

.advantage
    position: relative

    display: flex
    flex-direction: column
    width: 214px

    &::before
        height: 68px

    &--brew::before
        content: url("../img/icon-brew.png")
    &--thumbsup::before
        content: url("../img/icon-thumbsup.png")
    &--matreshka::before
        content: url("../img/icon-matreshka.png")

    &__title
        margin: 32px 0 3px

        font-weight: bold
        font-size: 20px
        line-height: 1.5
        color: #000000
        text-transform: uppercase

    &__text
        max-width: 210px
