<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
        title Кваст
    body
        - var navList = {history: "История", advantages: "Производство", assortment: "Ассортимент", order: "Где купить"}

        include includes/header

        //- main
        include includes/new-items
        include includes/advantages
        include includes/history
        include includes/review
        include includes/assortment
        include includes/order

        include includes/footer
