<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/style.css")
        //- meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Кваст
    body
        include includes/header

        //- main
        include includes/new-items
        include includes/advantages
        include includes/history
        include includes/review
        include includes/assortment
        include includes/order

        include includes/footer
