mixin makeAdvantage(title, text, mod)
    li
        article(class="advantage--"+mod).advantage
            h2.advantage__title= title
            p.advantage__text= text

section.advantages
    .container.container--wide
        ul.advantages__list
            +makeAdvantage("Варим сами", "Вот этими самыми руками. Экспериментируем и творим, что хотим.","brew")
            +makeAdvantage("Своё, родное","Не заработка ради, а импортозамещения для. Поднимаем производство.", "matreshka")
            +makeAdvantage("Не экономим","Человек это то, что он ест и пьёт. У нас только качественные ингредиенты.", "thumbsup")
