header.page-header#top
    .container
        nav.main-nav
            a(href="#top")
                img(src="./img/logo.png", alt="Квас «Кваст» логотип", width="140", height="76")
            ul.site-list
                each val, index  in navList
                    li
                        a(href="#"+index).site-list__link= val

        p.page-header__slogan Крафтовый квас <br> всему голова!
