section.review
    .container
        h2.review__title.title Пресса о нас
        blockquote.review__wrapper
            p.review__text Сегодня мы провели дегустацию чего-то действительно новенького — крафтового кваса. Да, да, вы не ослышались! Спасибо Арсену и Руслану за то, что предоставили целую бочку своего напитка!
            cite.review__source= "Газета столичный Стольник "
            a(href="#").button.button--ghost-grey Читать далее
